
        body {
            margin: 0;
			padding: 5px;
            font-family: arial, verdana, tahoma, sans-serif;
            font-size: 14px;
            background-color: lightslategray;
        }

        img {
            height: 100px;
            width: 100px;
            background-color: black;
            position: center;
          }

          
        #footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 75%;
            text-align: center;
        }
		#panel {
			display: flex;
			align-items: center;
			max-height: 100%;
        }

     
        
         
        
       
     
       
