
        body {
            margin: 0;
			padding: 5px;
            background-color: black;
            content: center;
        }

        img {
            max-height: 500px;
            max-width: 500px;
            position: center;
            vertical-align: center;
          }


     
        
         
        
       
     
       
