
        h1 {
            font-size: 30px;
            font-family: 'Montserrat', sans-serif;
            text-decoration-color: white;
        }

        h2 {
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
            text-decoration-color: white;
        }

       input[type="button"] {
            padding-bottom: 10px;
            padding-top: 30px;
            background-color: black;
            font-family: sans-serif;
            font-size: 30px;
            color: white;
        }
        
        body {
            padding-top: 7px;
            margin: 0;
			padding: 5px;
            background-image: url(wallpaper.jpg);
        }

        img {
            max-width: 50vw;
            align-content: center;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            height: auto;
            display: flex;
            margin-top: 10%;
            border-color: white;
            border: 2px;
          }

          div {
              text-decoration-color: white;
              font-size: 14px;
              text-align: center;
          }


        
         
        
       
     
       
